<div class="container">
    <h1>Home</h1>
    <hr>
</div>

<div id="carouselExampleIndicators" class="carousel carousel-dark slide bg">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <i class="fa-solid fa-heart icon-element"></i>
        </div>
        <div class="carousel-item">
            <i class="fa-solid fa-star icon-element"></i>
        </div>
        <div class="carousel-item">
            <i class="fa-solid fa-droplet icon-element"></i>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <i class="fa-solid fa-arrow-left"></i>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <i class="fa-solid fa-arrow-right"></i>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="container">
    <br>
    <h2 style="display: flex; justify-content: center;">Welcome</h2>
    <br>
    <p style="text-align: center;">
        We sell the widest variety of items of any store! At the click of a button, you can add
        your own items into our catalogue. With ease, you can edit, remove, and query through our extensive list of items.
    </p>
</div>